<img src="./images/shouke_logo.png"
     style="float: right"
     width=100
     style="padding-bottom:100px;"/>
<br>
<br>

<table style="float:center;">
    <tr>
        <td>
            <img src='./images/python-logo.png'width=130>
        </td>
        <td>
            <img src='./images/pandas-logo.png'width=150>
        </td>
    </tr>
</table>

<h1 style='text-align: center;'>Treating Outliers of DataFrame</h1>
<h3 style='text-align: center;'>Shouke Wei, Ph.D. Professor</h3>
<h4 style='text-align: center;'>Email: shouke.wei@gmail.com</h4>

## Objective
- learn how to treat outliers in dataframe with some handy methods

In [12]:
# import required packages
import numpy as np
import pandas as pd

# read data
df = pd.read_csv('./data/gdp_china_mis_cl.csv')

# display the first 5 rows
df.head()

,prov,gdpr,year,gdp,pop,finv,trade,fexpen,uinc
0,Guangdong,First,2000,1.074125,8.650000,0.314513,1.408147,0.108032,0.976157
1,Guangdong,First,2001,1.203925,8.733000,0.348443,14.609701,0.132133,1.041519
2,Guangdong,First,2002,1.350242,8.842000,0.385078,1.830169,0.152108,1.113720
3,Guangdong,First,2003,1.584464,8.963000,0.481320,2.346735,0.169563,1.238043
4,Guangdong,First,2004,1.886462,9.052298,0.587002,2.955899,0.185295,1.362765

## The results of outliner detection using quantile

In [13]:
min_threshold, max_threshold = df['trade'].quantile([0.01,0.99])
min_threshold, max_threshold

(0.017796237800000003, 7.607179460000017)

In [14]:
# display the rows with outliers
df[(df['trade'] > max_threshold)|(df['trade'] < min_threshold)]

,prov,gdpr,year,gdp,pop,finv,trade,fexpen,uinc
1,Guangdong,First,2001,1.203925,8.733,0.348443,14.609701,0.132133,1.041519
93,Henan,Fifth,2017,4.455283,9.392,4.449690,0.000523,0.821552,2.955790

## 1. Remove the outliers
### (1) keep the non-outlier rows

In [15]:
# create a new dataframe excluding the outlier rows
df_new = df[(df['trade'] < max_threshold)&(df['trade'] > min_threshold)]
df_new

,prov,gdpr,year,gdp,pop,finv,trade,fexpen,uinc
0,Guangdong,First,2000,1.074125,8.650000,0.314513,1.408147,0.108032,0.976157
2,Guangdong,First,2002,1.350242,8.842000,0.385078,1.830169,0.152108,1.113720
3,Guangdong,First,2003,1.584464,8.963000,0.481320,2.346735,0.169563,1.238043
4,Guangdong,First,2004,1.886462,9.052298,0.587002,2.955899,0.185295,1.362765
5,Guangdong,First,2005,2.255737,9.194000,0.697793,3.505761,0.228907,1.476994
...,...,...,...,...,...,...,...,...,...
89,Henan,Fifth,2013,3.219130,9.413000,2.608746,0.371325,0.558231,2.174067
90,Henan,Fifth,2014,3.493824,9.436000,3.078217,0.399111,0.602869,2.367206
91,Henan,Fifth,2015,3.700216,9.480000,3.566035,0.459535,0.679935,2.557561
92,Henan,Fifth,2016,4.047179,9.532000,4.041509,0.471385,0.745374,2.723292
94,Henan,Fifth,2018,4.805586,9.360000,4.450960,0.551170,0.921773,3.187420

### (2) reomove the rows with outliers

In [16]:
df_new =df.drop([1,93])
df_new

,prov,gdpr,year,gdp,pop,finv,trade,fexpen,uinc
0,Guangdong,First,2000,1.074125,8.650000,0.314513,1.408147,0.108032,0.976157
2,Guangdong,First,2002,1.350242,8.842000,0.385078,1.830169,0.152108,1.113720
3,Guangdong,First,2003,1.584464,8.963000,0.481320,2.346735,0.169563,1.238043
4,Guangdong,First,2004,1.886462,9.052298,0.587002,2.955899,0.185295,1.362765
5,Guangdong,First,2005,2.255737,9.194000,0.697793,3.505761,0.228907,1.476994
...,...,...,...,...,...,...,...,...,...
89,Henan,Fifth,2013,3.219130,9.413000,2.608746,0.371325,0.558231,2.174067
90,Henan,Fifth,2014,3.493824,9.436000,3.078217,0.399111,0.602869,2.367206
91,Henan,Fifth,2015,3.700216,9.480000,3.566035,0.459535,0.679935,2.557561
92,Henan,Fifth,2016,4.047179,9.532000,4.041509,0.471385,0.745374,2.723292
94,Henan,Fifth,2018,4.805586,9.360000,4.450960,0.551170,0.921773,3.187420

## 2. Regard outliers as NaNs

### (1) Replace them with NaN

In [17]:
df_copy = df.copy()

In [21]:
# change the outliers with 'np.nan'
df_copy.loc[[1,93],['trade']]=np.nan
df_copy

,prov,gdpr,year,gdp,pop,finv,trade,fexpen,uinc
0,Guangdong,First,2000,1.074125,8.650000,0.314513,1.408147,0.108032,0.976157
1,Guangdong,First,2001,1.203925,8.733000,0.348443,NaN,0.132133,1.041519
2,Guangdong,First,2002,1.350242,8.842000,0.385078,1.830169,0.152108,1.113720
3,Guangdong,First,2003,1.584464,8.963000,0.481320,2.346735,0.169563,1.238043
4,Guangdong,First,2004,1.886462,9.052298,0.587002,2.955899,0.185295,1.362765
...,...,...,...,...,...,...,...,...,...
90,Henan,Fifth,2014,3.493824,9.436000,3.078217,0.399111,0.602869,2.367206
91,Henan,Fifth,2015,3.700216,9.480000,3.566035,0.459535,0.679935,2.557561
92,Henan,Fifth,2016,4.047179,9.532000,4.041509,0.471385,0.745374,2.723292
93,Henan,Fifth,2017,4.455283,9.392000,4.449690,NaN,0.821552,2.955790
94,Henan,Fifth,2018,4.805586,9.360000,4.450960,0.551170,0.921773,3.187420

In [22]:
# replace the outlier values with 'np.nan'
df_copy.replace({
    'trade':{14.609701:np.nan,0.000523:np.nan}
},inplace=True)
df_copy

,prov,gdpr,year,gdp,pop,finv,trade,fexpen,uinc
0,Guangdong,First,2000,1.074125,8.650000,0.314513,1.408147,0.108032,0.976157
1,Guangdong,First,2001,1.203925,8.733000,0.348443,NaN,0.132133,1.041519
2,Guangdong,First,2002,1.350242,8.842000,0.385078,1.830169,0.152108,1.113720
3,Guangdong,First,2003,1.584464,8.963000,0.481320,2.346735,0.169563,1.238043
4,Guangdong,First,2004,1.886462,9.052298,0.587002,2.955899,0.185295,1.362765
...,...,...,...,...,...,...,...,...,...
90,Henan,Fifth,2014,3.493824,9.436000,3.078217,0.399111,0.602869,2.367206
91,Henan,Fifth,2015,3.700216,9.480000,3.566035,0.459535,0.679935,2.557561
92,Henan,Fifth,2016,4.047179,9.532000,4.041509,0.471385,0.745374,2.723292
93,Henan,Fifth,2017,4.455283,9.392000,4.449690,NaN,0.821552,2.955790
94,Henan,Fifth,2018,4.805586,9.360000,4.450960,0.551170,0.921773,3.187420

## (2) Apply methods for filling in missing values

In [23]:
df_new = df_copy.interpolate(method='cubicspline',order=2)
df_new

,prov,gdpr,year,gdp,pop,finv,trade,fexpen,uinc
0,Guangdong,First,2000,1.074125,8.650000,0.314513,1.408147,0.108032,0.976157
1,Guangdong,First,2001,1.203925,8.733000,0.348443,1.501391,0.132133,1.041519
2,Guangdong,First,2002,1.350242,8.842000,0.385078,1.830169,0.152108,1.113720
3,Guangdong,First,2003,1.584464,8.963000,0.481320,2.346735,0.169563,1.238043
4,Guangdong,First,2004,1.886462,9.052298,0.587002,2.955899,0.185295,1.362765
...,...,...,...,...,...,...,...,...,...
90,Henan,Fifth,2014,3.493824,9.436000,3.078217,0.399111,0.602869,2.367206
91,Henan,Fifth,2015,3.700216,9.480000,3.566035,0.459535,0.679935,2.557561
92,Henan,Fifth,2016,4.047179,9.532000,4.041509,0.471385,0.745374,2.723292
93,Henan,Fifth,2017,4.455283,9.392000,4.449690,0.474870,0.821552,2.955790
94,Henan,Fifth,2018,4.805586,9.360000,4.450960,0.551170,0.921773,3.187420

## 3. Save the treated data

In [24]:
df_new.to_csv('./data/gdp_china_outlier_cl.csv',index=False)